.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li {
    color: blue;
    cursor: pointer;
}

.pagination li:not(:last-child) {
    margin-right: 20px;
}

.pagination li a {
    border: 1px solid blue;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    padding: 5px 10px;
}

.pagination li a:hover {
    color: white !important;
    background-color: blue;
}

.pagination li.active > a {
    color: white;
    background-color: blue;
}

.pagination li.disabled > a {
    border: 1px solid grey;
    color: gainsboro;
    cursor: not-allowed;
    background-color: grey;
}
